body{
  background-color: #EEEEEE;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
  background-color: #D4ECDD;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer {
	position: sticky;
	text-align: center;
	width: 100%;
	height: 60px;
	background-color: #D4ECDD;
  padding: 30px 30px 50px 30px;
}

.footer p {
  color: black;
	margin-top: auto;
  margin-bottom: 30px;
	font-size: 15px;
}
